@model SistemaCitasMedicas.Models.SolicitudCita

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SolicitudCita</h4>
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-controller="SolicitudCitas" asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- PACIENTE -->
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>

                <select asp-for="IdPaciente"
                        class="form-control"
                        asp-items="ViewBag.IdPaciente">
                    <option value="">-- Seleccione Paciente --</option>
                </select>

                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>


            <!-- ESPECIALIDAD -->
            <div class="form-group">
                <label asp-for="IdEspecialidad" class="control-label"></label>

                <select asp-for="IdEspecialidad"
                        class="form-control"
                        asp-items="ViewBag.IdEspecialidad">
                    <option value="">-- Seleccione Especialidad --</option>
                </select>

                <span asp-validation-for="IdEspecialidad" class="text-danger"></span>
            </div>


            <!-- FECHA DESEADA -->
            <div class="form-group">
                <label asp-for="FechaDeseada" class="control-label"></label>

                <input asp-for="FechaDeseada"
                       type="date"
                       class="form-control" />

                <span asp-validation-for="FechaDeseada"
                      class="text-danger"></span>
            </div>


            <!-- HORA DESEADA -->
            <div class="form-group">
                <label asp-for="HoraDeseada" class="control-label"></label>

                <input asp-for="HoraDeseada"
                       type="time"
                       class="form-control" />

                <span asp-validation-for="HoraDeseada"
                      class="text-danger"></span>
            </div>


            <!-- MOTIVO -->
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>

                <textarea asp-for="Motivo"
                          class="form-control"></textarea>

                <span asp-validation-for="Motivo"
                      class="text-danger"></span>
            </div>


            <br />

            <button type="submit" class="btn btn-primary">
                Guardar Solicitud
            </button>

        </form>

    </div>
</div>


<div>
    <a asp-action="Index">Regresar</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}