@model SistemaCitasMedicas.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}


<div class="container mt-4">

    <div class="card shadow-sm">


        <div class="card-header bg-warning text-dark">

            <h4>Editar Usuario</h4>

        </div>



        <div class="card-body">


            <form asp-action="Edit" method="post">


                <div asp-validation-summary="ModelOnly"
                     class="text-danger mb-3">
                </div>


                <input type="hidden" asp-for="IdUsuario" />



                <div class="row">


                    <!-- IZQUIERDA -->

                    <div class="col-md-6">


                        <div class="mb-3">

                            <label asp-for="Nombre"
                                   class="form-label">
                            </label>


                            <input asp-for="Nombre"
                                   class="form-control" />


                            <span asp-validation-for="Nombre"
                                  class="text-danger">
                            </span>

                        </div>




                        <div class="mb-3">

                            <label asp-for="SegundoNombre"
                                   class="form-label">
                            </label>


                            <input asp-for="SegundoNombre"
                                   class="form-control" />


                            <span asp-validation-for="SegundoNombre"
                                  class="text-danger">
                            </span>


                        </div>





                        <div class="mb-3">


                            <label asp-for="Apellido"
                                   class="form-label">
                            </label>


                            <input asp-for="Apellido"
                                   class="form-control" />


                            <span asp-validation-for="Apellido"
                                  class="text-danger">
                            </span>


                        </div>





                        <div class="mb-3">


                            <label asp-for="Correo"
                                   class="form-label">
                            </label>


                            <input asp-for="Correo"
                                   class="form-control" />


                            <span asp-validation-for="Correo"
                                  class="text-danger">
                            </span>


                        </div>



                    </div>





                    <!-- DERECHA -->

                    <div class="col-md-6">



                        <div class="mb-3">


                            <label asp-for="Telefono"
                                   class="form-label">
                            </label>


                            <input asp-for="Telefono"
                                   class="form-control" />


                            <span asp-validation-for="Telefono"
                                  class="text-danger">
                            </span>


                        </div>





                        <div class="form-check mb-3">


                            <input class="form-check-input"
                                   asp-for="Activo" />


                            <label class="form-check-label"
                                   asp-for="Activo">
                            </label>


                        </div>






                        <div class="mb-3">


                            <label asp-for="IdRol"
                                   class="form-label">
                            </label>



                            <select asp-for="IdRol"
                                    class="form-select"
                                    asp-items="ViewBag.IdRol">
                            </select>



                            <span asp-validation-for="IdRol"
                                  class="text-danger">
                            </span>



                        </div>




                    </div>


                </div>





                <div class="mt-4">


                    <button type="submit"
                            class="btn btn-primary">

                        Guardar

                    </button>



                    <a asp-action="Index"
                       class="btn btn-secondary">

                        Volver a la lista

                    </a>


                </div>



            </form>



        </div>


    </div>


</div>




@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}